/*---------Bismillahir Rahamanir Rahim---------*/

*{
    margin: 0;
    padding: 0;
}

body,p,span,a{
    font-family: 'Roboto', sans-serif;
}

/* -------header section-----*/

.header{
    width: 100%;
    height: 115px;
    background: black !important;
    z-index: 99;
    border-bottom: 1px solid #918c84;
}
.logo_img{
    width: 172px;
    height: 84px;
    margin-left: 20px;
}
.logo_img img{
    width: 100%;
}
.header-middle{
    margin-top: 17px;
}
.header-middle ul{}
.header-middle ul li{
    padding: 53px 25px;
    font-family: 'Jost', sans-serif;
}
.header-middle ul li .dropdown_item{
    margin-top: -9px;
    transform:scaley(0);
    transform-origin: top center;
    transition: 0.4s;
}
.header-middle ul li:hover .dropdown_item{
    transform:scaley(1) !important;
    visibility: visible !important;
    opacity: 1 !important;
}
.header-middle ul li span{}
.header-middle ul li a{
    color: white !important;
    font-weight: 700;
    font-size: 12px;
}
.header-middle ul li a:hover{
    color: red !important;
}
.dropdown_item{
    background: black;
}
.dropdown_item a{
    padding: 15px;
    margin: 25px 7px 24px 0px;
    transition: 0.4s;
}
.dropdown_item a:hover{
    transform: scaleY(1.1);
}
.triangle_up{
    position: absolute;
    top: -39px;
    left: 16px;
}
.triangle_up span{
    font-size: 45px;
    color: black;
}

.header_right{}
.header_right a{
    font-size: 17px;
    color: white;
    margin-right: 19px;
    transition: 0.4s;
    text-decoration: none;
}
.header_right a:hover{
    color: red;
}

.header_right a span:hover .form_box{
    visibility: visible;
    transform:scaley(1);
}
.header_right:hover .form_box{
    visibility: visible;
    transform:scaley(1);
}

.form_box{
    position: absolute;
    right: 0px;
    bottom: -58px;
    visibility: hidden;
    transform:scaley(0);
    transform-origin: top center;
    transition: 0.4s;
}

.form_box input{
    padding: 27px 20px;
    height: 50px;
    border: 1px solid black;
}
.form_box button{
    position: absolute;
    right: 12px;
    font-size: 20px;
    border: none;
}
.form_box button a{
    color: darkgrey;
    background: white;
    font-size: 20px;
    margin-right: 0px !important;
}


/* --Admin post table--*/

.admin_post{}
.admin_post_up{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.admin_post_up h2{
    font-size: 40px;
    font-weight: 700;
    font-family: "Impact", Times, serif;
    letter-spacing: 5px;
}
.admin_post_up a{
    text-decoration: none;
}
.admin_post_up a span{
    background: black;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    transition: 0.4s;
}
.admin_post_up a:hover span{
    background-color: red;
    columns: ;
}
.admin_post_down{
    box-shadow: 0px 0px 60px 0px #e9e9e9;
}
.admin_post_down table{}
.admin_post_down table{}
.admin_post_down table{}